{% extends 'admin.html.twig' %}

{% block title %}Manual Upload !{% endblock %}

{% block body %}
<style>
body
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:100%;
 font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
 background-color:#34495E;
}
#wrapper
{
 margin:0 auto;
 padding:0px;
 text-align:center;
 width:995px;
 min-height:200px;
}
#wrapper h1
{
 margin-top:50px;
 font-size:45px;
 color:#FDF2E9;
}
#wrapper h1 p
{
 font-size:18px;
}
#text_div input[type="text"]
{
 width:300px;
 height:35px;
 padding:10px;
 border:1px solid #a5ccba;  
}
#text_div input[type="submit"]
{
 width:100px;
 height:35px;
 margin-top:5px;
 background:none;
 border:1px solid #d5e7e7;
 color:grey;
 font-weight:bold;
}
#text_div img
{
 width:200px;
}
</style>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-5 fw-normal">Direct Image Upload </h1>
      <p class="fs-5 text-muted">Upload image to make it available to the users. </p>
    </div>
 <div class="col-12">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
             <ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item" role="presentation">
				    <a class="nav-link " id="home-tab"  href="{{path('image_upload_url')}}">Upload By URL</a>
				  </li>
				  <li class="nav-item" role="presentation">
				    <a class="nav-link active" href="#" >Upload File</a>
				  </li>
				 
				</ul>
          </div>
         <div class="card-body">
            <div class="tab-content" id="myTabContent">
					  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

					  	<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
						  <symbol id="check-circle-fill" viewBox="0 0 16 16">
						    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
						  </symbol>
						  <symbol id="info-fill" viewBox="0 0 16 16">
						    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
						  </symbol>
						  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
						    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
						  </symbol>
						</svg>
						 {{ form_start(uploadImage) }}
						<div class="row">
					  		<div id="wrapper col-md-12">
					  			<div class="alert alert-info alert-dismissible fade show" role="alert">
								   <div>
								  	<strong>Info!</strong> Please use full Absolute image URL to import. (Remove Query Strings if any )
								   </div>
								 	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
								<div class="row mt-2">
									  <div class="col-sm-12 col-md-6 col-lg-6 mx-auto checkImageURL">
										  	<div class="row">
											  	 <div class="col-md-8">
											 	  	{#<input type="text" class="" name="image_url" placeholder="Enter Image URL">#}
											 	  	{{ form_row(uploadImage.image_url,{'id':'image_url'}) }}
											 	</div>
											 	
											</div>
									 </div>
								</div>
								<div class="row mt-2">
									  <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
									    <div class="d-flex flex-row justify-content-center " id="imagePreviewParent">
									    </div>
								      </div>
								</div>
								<div class="row mt-2">
									  <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
									     	<div class="form-group">
							                    <label for="tags">Tags</label>
							                   {{ form_row(uploadImage.tags) }}
							                  {#  <select multiple="multiple" class=" js-example-basic-multiple form-control"  name="tags[]" id="tags">
						                     	</select> #}
									    	</div>
									    </div>
								 </div>
								 <div class="row mt-2">
									  <div class="col-sm-12 col-md-6 col-lg-6 mx-auto">
									    
									     <div class="form-group">
						                  <label for="provider">Provider </label>
						               {#   <select class=" select2-single-tags form-control"  name="provider" id="provider">
						                   </select>
						                   #}
						                   {{ form_row(uploadImage.provider) }}
									    </div>
									    </div>
								 </div>
								 <div class="row mt-2">
									  <div class="col-sm-12 col-md-4 col-lg-4 mx-auto">
									  	<input type="submit" class="  btn  btn-primary btn-xl bg-primary" value="Save">
									  </div>
								</div>
							</div>
						</div>
				   {{ form_end(uploadImage) }}
				  </div>
				</div>
      </div>



{% endblock %}
